.logo{
    font-family: var(--font-second);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo__span{
    color: var(--link-color);
}

