.container{
    width: 1200px;
    margin: 0 auto;
}
.page-header-container,.hero-container,.container-feature,.box-container,.teamcard-container,.client-container,.footer-container{
    padding-left: 15px;
    padding-right: 15px;
}