.footer-block{
    padding-top: 60px;
    padding-bottom: 60px;
}
.page-footer{
    background-color: var(--dark-background);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}