:root {
    --accent-color: #212121;
    --link-color: #2196F3;
    --white-color: #ffffff;
    --dark-background: #2F303A;
    --contacts-color: #757575;
    --teamcards-background: #F5F4FA;
    --project-border: #EEEEEE;
    --icon-color: #AFB1B8;
    --our-client:#E5E5E5;
    --font-accent: 'Roboto', sans-serif;
    --font-second: 'Raleway', sans-serif;
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --border-color: rgba(0, 0, 0, 0.1);
    --descripton-bgk: rgba(33, 150, 243, 0.9);
    --btn-form-color:#188CE8;
}