:root{
    --accent-color: #212121;
    --second-color: #757575;
    --link-color: #2196F3;
    --white-color: #ffffff;
    --hero-background: #2F303A;
    --filter-btn: #F5F4FA;
    --font-accent: 'Roboto', sans-serif;
    --font-second: 'Raleway', sans-serif;
    --btn-hover: #188CE8;
    --our-bgk: #F5F4FA;
    --icon-color: #AFB1B8;
    --border-color: #EEEEEE;
    --footer-social: rgba(255, 255, 255, 0.1);
    --description-bgk: rgba(33, 150, 243, 0.9);
    --bakdrop-bgk: rgba(0, 0, 0, 0.2);
    --border-color: rgba(0, 0, 0, 0.1);
}